---
layout: default
---

  <ul class="post__container">
    {% for post in site.posts %}
    {% if post.image.feature %}
    
      {% if post.orientation == 'portrait' %}
      <li class="post">
      {% elsif post.orientation == 'landscape' %}
      <li class="post landscape">
      {% endif %}
      
        {% if post.orientation == 'portrait' %}
        <div class="post__image--portrait">
        {% elsif post.orientation == 'landscape' %}
        <div class="post__image--landscape">
        {% endif %}
        <a href="{{site.baseurl}}{{post.url}}">
          <img src="img/{{ post.image.feature }}" />
        </a>
        </div>
        
        
        {% if post.orientation == 'portrait' %}
        <div class="post__color--portrait">
        {% elsif post.orientation == 'landscape' %}
        <div class="post__color--landscape">
        {% endif %}
        
          {% for hex in post.hex %}
          <div data-hex="{{hex}}" class="post__color--box" style="background-color: {{hex}};">
            &nbsp;
            <p class="post__color--text">
              {{hex}}
            </p>
          </div>
          {% endfor %}
        </div>
        
      </li>
    {% endif %}
    {% endfor %}
  </ul>
