---
layout: default
---

  <ul class="post__container">
    {% for post in site.posts %}
    {% if post.image.feature %}
      <li class="post">
        <div class="post__image">
          <img src="img/{{ post.image.feature }}" />
        </div>
        <div class="post__color">
          {% for hex in post.hex %}
          <div data-hex="{{hex}}" class="post__color--box" style="background-color: {{hex}};">
            <p class="post__color--text">
              {{hex}}
            </p>
          </div>
          {% endfor %}
        </div>
      </li>
    {% endif %}
    {% endfor %}
  </ul>
