$base-font-size: 18px;

$margin-large: 1.5em;
$margin: 1em;
$margin-small: .5em;

$padding-large: 1.5em;
$padding: 1em;
$padding-small: .5em;

$primary-color: #37505C;
$secondary-color: #8CADA7;
$accent-color: #FC5255;
$neutral-color: #C5C5C5;
$neutral-light: #FFEAD0;
$white: #fefefe;

